ul{
    padding: 0;
}
body {
    font-family: sans-serif;
}

.section {
    padding: 100px 0;
}

.description {
    font-size: 14px;
    line-height: 22px;
    color: #6c7279;
}

/*section features */
.icon {
    color: #e84545;
    font-size: 60px;
}

.feature {
    margin-bottom: 50px;
}

.feature-content {
    padding: 0 15px;
    margin-top: 30px;
}

.feature-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
}
/*section work */

.work {
    min-height: 350px;
    overflow: hidden;
}

.img-work {
    /*height: 100%;*/
    /*width: 100%;*/
    /*object-position: center;*/
    /*object-fit: cover;*/
}

/*section teams */

#teams{
}
.person {
    max-width: 270px;
    box-sizing: border-box;
}

/*.img-wrapper { !* ОЦЕНИТЬ!!!!*!*/
/*    position: relative;*/
/*}*/

/*.img-wrapper:after { !* ОЦЕНИТЬ!!!!*!*/
/*    content: "";*/
/*    padding-top: 100%;;*/
/*    display: block;*/
/*}*/

/*.img-person {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    object-position: center;*/

/*}*/
.img-person {
    width: 100%;
    aspect-ratio:1/1;
    object-fit: cover;
    object-position: top;
}
.person-content {
    margin-top: 20px;
}


.person-name {
    margin-bottom: 10px;
    font-size: 22px;
}

.person-role {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: #e84545;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #e8ecee;
    text-decoration: none;
    border-radius: 2px;
    color: #c6cacc;
    font-size: 18px;
}

.social-icons a:hover {
    background-color: #e84545;
    border-color: #e84545;
    color: #fff;
}

@media screen and (max-width: 991px){
    .person {
        margin: 0 0 50px;
    }
}