:root {
    --gutter: 30px;
    --columns: 12;
}

.container {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex: 1 0 0;
    margin: 0 calc(var(--gutter) / 2);
}

.col-3 {
    flex: 0 0 auto;
    width: calc(100% / var(--columns) * 3 - var(--gutter));
}

.col-4 {
    flex: 0 0 auto;
    width: calc(100% / var(--columns) * 4 - var(--gutter));
}

@media screen and (max-width: 991px) {

    .col-md-6 {
        flex: 0 0 auto;
        width: calc(100% / var(--columns) * 6 - var(--gutter));
    }
}

@media screen and (max-width: 767px) {

    .col-sm-12 {
        flex: 0 0 auto;
        width: calc(100% / var(--columns) * 12 - var(--gutter));
    }
}
